<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour votre message à watch.coop,</h1>
    <p>
      Nous reviendrons vers vous rapidement.
    </p>
    
    <p>Bonne journée !</p>
  </body>
</html>