<% content_for :title do %>watch.coop<% end %>
<% content_for :description do %>les sentinelles locales<% end %>

<!-- Top Slider -->
    <section id="top-section">
      <div class="top-section parallax-style">
        <div class="parallax-overlay">
          <div class="slider-txt-container">
            <div id="top-carousel" class="carousel slide" data-ride="carousel">

              <ol class="carousel-indicators">
                <li data-target="#top-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#top-carousel" data-slide-to="1"></li>
                <li data-target="#top-carousel" data-slide-to="2"></li>
              </ol><!-- /.carousel-indicators -->
              <div class="carousel-inner">

                <div class="item active">
                  <h2 class="thin-txt">
                    vigilance environnementale locale
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    par la communauté
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    évaluation objective des dossiers locaux
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#" class="btn custom-btn angle-effect">En savoir plus</a>
                  </p>        
                </div><!-- /.item -->

                <div class="item">
                  <h2 class="thin-txt">
                    Associations ou particuliers  
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    mobilisation citoyenne
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    en faveur de l'environnement.
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#" class="btn custom-btn angle-effect">En savoir plus</a>
                  </p>        
                </div><!-- /.item -->

                <div class="item">
                  <h2 class="thin-txt">
                    Nous recherchons
                  </h2><!-- /.thin-text --> 
                  <p class="bold-txt">
                    des testeurs et contributeurs
                  </p><!-- /.thin-text -->
                  <p class="thin-txt">
                    Rejoignez-nous !
                  </p><!-- /.thin-text -->

                  <p class="link">
                    <a href="#" class="btn custom-btn angle-effect">Nous contacter</a>
                  </p> 
                </div><!-- /.item -->
              </div><!-- /.carousel-inner -->
              <a class="slide-nav left" href="#top-carousel" data-slide="prev"><span></span></a>
              <a class="slide-nav right" href="#top-carousel" data-slide="next"><span></span></a>
            </div><!-- /#top-carousel -->
          </div><!-- /.slider-txt-container -->
        </div><!-- /.parallax-overlay -->
      </div><!-- /.top-section -->
    </section><!-- /#top-section -->
    <!-- Top Slider End-->