<% content_for :title do %>About<% end %>
<!-- About Section -->
		<section id="about">
			<div class="about-section"> 
				<div class="white-bg angular section-padding">
					<div class="top-angle">
					</div><!-- /.top-angle -->
					<div class="container">
						<div class="section-head">
							<h2 class="section-title">à propos</h2>
							<p class="section-description">
								Watch est un projet participatif. Il s'agit d'un service en ligne pour les citoyens et les acteurs de l'environnement permettant l'évaluation objective de dossier locaux (urbanisme, pollution de l'eau, protection de la nature...) et la remontée d'information vers les pouvoirs publics et entités économiques.
							</p><!-- /.section-description -->
						</div><!-- /.section-head -->

						<div class="section-content">
							<div class="row">
								<div class="content-box col-md-8 from-bottom delay-200">
									<div class="hex content-icon-hex pull-left">
										<div class="content-icon">
											<span aria-hidden="true" class="li_bulb"></span>
										</div>
									</div><!-- /.content-icon-hex -->
									<h3 class="content-title">La vision</h3>
									<p>
										<strong>Notre objectif est de créer la plus grande communauté en ligne de sentinelles de l'environnement, le réseau &lt;watch&gt;.</strong>
									</p>
									<p>
										Changement climatique, pollution des sols et des eaux, protection des espèces, alimentation, santé... Le grand public n'a jamais été autant sensibilisé aux enjeux environnementaux. Le réseau <watch> permet à tout un chacun de contribuer individuellement. Il donne l'opportunité de pouvoir améliorer les choses par la hiérarchisation des actions, la collecte de données pertinentes pour les collectivités et entreprises concernées et l'accroissement de la visibilité des problématiques environnementales locales.
									</p>
								</div><!-- /.content-box -->

								<div class="media-content media-right col-md-4 from-bottom delay-600">
									<div class="meida-container">
										<div id="about-img-carousel" class="about-img-carousel carousel slide" data-ride="carousel">
											<ol class="carousel-indicators">
												<li data-target="#about-img-carousel" data-slide-to="0" class="active"></li>
												<li data-target="#about-img-carousel" data-slide-to="1"></li>
												<li data-target="#about-img-carousel" data-slide-to="2"></li>
											</ol><!-- /.carousel-indicators -->
											<div class="carousel-inner">

												<div class="item active">
													<%= image_tag("about-carousel/01.jpg", :alt => "carousel image")%>
												</div><!-- /.item -->
												<div class="item">
													<%= image_tag("about-carousel/02.jpg", :alt => "carousel image")%>
												</div><!-- /.item -->
												<div class="item">
													<%= image_tag("about-carousel/03.jpg", :alt => "carousel image")%>
												</div><!-- /.item -->
											</div><!-- /.carousel-inner -->
										</div><!-- /#about-img-carousel -->
									</div><!-- /.meida-container -->
								</div><!-- /.media-content -->
							</div><!-- row -->
						</div><!-- /.section-content -->
					</div><!-- /.container -->
				</div><!-- /.white-bg -->

				<div class="gray-bg angular section-padding">
					<div class="top-angle"></div>
					<div class="container">
						<div class="row">
							<div class="section-content">
								<div class="media-content media-left col-md-4 from-bottom delay-200">
									<div class="meida-container video-container">
										<iframe src="https://www.youtube.com/embed/qxc_d9dnqEQ" frameborder="0" allowfullscreen></iframe>
									</div><!-- /.meida-container -->
								</div><!-- /.media-content -->

								<div class="content-box col-md-8 from-bottom delay-600">
									<div class="hex content-icon-hex pull-left">
										<div class="content-icon">
											<span aria-hidden="true" class="li_params"></span>
										</div>
									</div>
									<h3 class="content-title">Notre Mission</h3>
									<p>
										<strong>Le projet &lt;watch&gt; a été fondé sur la conviction que dans la société de l'information du XXIème siècle, chacun peut provoquer le changement en informant et en mobilisant les autres. Les mouvements environnementaux ou sociaux ont toujours été à l'origine construits sur des relations réelles entre des personnes.</strong>
									</p>
									<p>
										Notre objectif est d'offrir non seulement un espace local d'expression accessible à tous, experts comme simples observateurs, mais aussi un outil de synthèse et de visibilité unique qui permettra d'extraire et de hiérarchiser les actions et problématiques environnementales à partir des observations de la communauté des sentinelles.
									</p>
								</div><!-- /.content-box -->
							</div><!-- /.section-content -->
						</div><!-- /.row -->
					</div><!-- /.container -->

					<div class="bottom-angle">				
					</div><!-- /.bottom-angle -->

				</div><!-- ./gray-bg -->
			</div><!-- /.about-section -->
		</section><!-- /#about-->
		<!-- About Section End -->


