<!-- Clients Section -->
		<section id="clients">
			<div class="clients-section parallax-style">
				<div class="parallax-overlay dark-overlay section-padding">
					<div class="container">
						<div class="section-head">
							<h3 class="parallax-title">
								Connexion et Inscription
							</h3>
<div align="center"><a href="/auth/facebook"><img src="images/fbconnect.png" style="width: 226px !important;, height: 50px !important;"></a></div>

							
						</div><!-- /.section-head -->



						
					</div><!-- /.container -->
				</div><!-- /.parallax-overlay -->
			</div><!-- /.clients-section -->
		</section><!-- /#clients -->
		<!-- Clients Section End -->




