<!-- Scroll to Top -->
		<div id="scroll-to-top">
			<div class="hex scroll-top">
				<span><i class="fa fa-chevron-up"></i></span>
			</div>
		</div><!-- /#scroll-to-top -->
<!-- Scroll to Top End-->	

<!-- Footer Section -->
		<footer id="footer-section">
			<div class="footer-section">
				<div class="container">
					<div class="footer-social-btn pull-right">
						<a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
						<a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
						<a href="#" class="github-btn"><i class="fa fa-github-alt"></i></a>
						<a href="#" class="vimeo-btn"><i class="fa fa-vimeo-square"></i></a>
						<a href="#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
						<a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
						<a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
						<a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
						<div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
						</div>
					</div><!-- /.footer-social-btn -->
					<div class="copyrights pull-left">
						&copy; <a href="#"><%= content_for?(:title) ? yield(:title) : "Watch" %></a>&nbsp;<%=  Time.now.year %>, All Rights Reserved, 
					</div><!-- /.copyrights -->
				</div><!-- /.container -->
			</div><!-- /.footer-section -->
		</footer><!-- /#footer-section -->
<!-- Footer Section End -->



		