<%# add navigation links to this file %>
<!-- Main navigation -->
						<ul id="headernavigation" class="nav navbar-nav pull-right">
							<li><a href="<%= root_url %>#about">A propos</a></li>
							<li><a href="<%= root_url %>#themes">Themes</a></li>
							<li><a href="<%= root_url %>#contact">Nous contacter</a></li>
						</ul> 
						
						<!-- /.nav .navbar-nav -->



						