<%# add navigation links to this file %>
<!-- Main navigation -->
						<ul id="headernavigation" class="nav navbar-nav pull-right">
							<li><a href="#about">A propos</a></li>
							<li><a href="#news">Themes</a></li>
							<li><a href="#contact">Nous contacter</a></li>
							
							
							
							

						</ul> 
						</div>
						<!-- /.nav .navbar-nav -->



						